@charset "UTF-8";

.thankyou {
}
.thankyou .row {
	align-items: center;
	justify-content: center;
}
.thankyou .w-50 {
	padding-block: 14%;
	padding-inline: 12%;
}

@media only screen and (max-width: 768px) {

	h1 {
		text-align: center;
	}
	p {
		text-align: center;
		padding-inline: 10%;
	}
	.thankyou .row {
		padding-block: 14% 5%;
	}

}