@charset "UTF-8";

.banner h1, .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1 {
  margin-block: 0.5rem 2.5rem;
  font-size: 3rem;
}
.banner h1 {
  font-family: 'mont-reg' !important;
  font-size: 4.5rem;
}
h4 {
  line-height: 1.5;
  letter-spacing: 2px;
}
sup {
  font-size: 1.5rem;
}
.mono-med {
  font-size: 1.2rem;
  margin-block: 0%;
  letter-spacing: 3px;
}

.banner {
  background-image: url('/images/new/yajna/banner.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-block: 8% 0%;
  padding-inline: 10% 5%;
  position: relative;
  aspect-ratio: 16 / 9;
}
.banner .w-50 {
	position: absolute;
	bottom: 10%;
}
.banner h2 {
  color: #D6A9B0;
}
.banner .row {
  align-items: center;
}
.banner h4 {
}
.banner p {
  font-size: 2rem;
  margin-block-start: 2rem;
}
.banner .btn-text {
  display: flex;
  align-items: center;
}
.banner .btn-yellow {
  position: fixed;
  top: 81%;
  right: 5%;
  z-index: 1000;
}

.yellow-bg {
  background: #FCD979 0% 0% no-repeat padding-box;
  border-bottom: 1.5px solid black;
  padding-inline: 10%;
  padding-block: 6% 5%;
  text-align: center;
}
.yellow-bg .bold {
  font-size: 1.5rem;
}
.yellow-bg h2 {
  font-size: 1rem;
}

.maps-arrow {
  width: 6%;
  margin-inline-start: 3%;
}

.clarity-exc {
  padding-block: 5%;
  padding-inline: 10%;
}
.clarity-exc .row-rev-col {
  align-items: center;
}
.clarity-exc p {
  width: 90%;
}
.clarity-exc img {
	width: 100%;
}

.va {
  background-image: url('/images/new/yajna/gita.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  width: 100%;
  aspect-ratio: 1920 / 1237;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.va-para {
  width: 30%;
  background: #FCD979 0% 0% no-repeat padding-box;
  padding-inline: 10% 5%;
  padding-block: 4%;
  position: absolute;
  bottom: 8%;
}

.blue-bg {
	background-color: rgba(161, 199, 204, 0.75);
	padding-block: 7%;
	padding-inline: 10%;
	border-bottom: 1.5px solid black;
  text-align: center;
}
.blue-bg p {
  width: 75%;
  display: block;
  margin-inline: auto;
  text-align: center;
}
.blue-bg sup {
  font-size: 0.8rem;
}


.speaker {
	background-image: url('/images/new/yajna/quote.png');
	background-size: 45% auto;
	background-repeat: no-repeat;
  background-position: 23% 15%;
	padding-block: 5%;
	padding-inline: 10%;
}
.quote {
  padding-block: 10% 12%;
  padding-inline: 12% 5%;
  margin-inline: 15% 0%;
}
.speaker .row {
  align-items: center;
}
.speaker .w-50 {
}
.speaker img {
  width: 100%;
  cursor: pointer;
}
.speaker h1, .speaker h2, .speaker p {
  padding-inline: 15% 0%;
}
.speaker h3 {
  font-size: 2.2rem;
}

/* Youtube video popup */
.video-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}
.popup-content {
  position: relative;
  width: 90%;
  max-width: 900px;
  background: #000;
  padding: 0;
  overflow: hidden;
}
.close-vid-btn {
  position: absolute;
  top: 10px; right: 15px;
  font-size: 28px;
  color: white;
  cursor: pointer;
  z-index: 10;
}
#youtubeVideo {
  width: 100%;
  height: 450px;
  display: block;
}
@media (max-width: 600px) {
  #youtubeVideo {
    height: 250px;
  }
}

.tradition {
  background-color: #FCDA79;
	padding-inline-start: 10%;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.tradition .row-rev-col {
  align-items: center;
}
.tradition p {
	width: 80%;
}
.tradition img {
	width: 100%;
  display: block;
}

.moments {
	padding-inline: 10%;
	padding-block: 5%;
}

/* Slider */
.slider { 
  position: relative; 
  overflow: hidden; 
  min-height: 23rem;
}
.slides { 
  display: flex; 
  transition: transform 0.6s ease; 
  height: 100%; 
  gap: 1%;
}
.slide { 
  flex: 0 0 32.6%;
}
.slide img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
.controls { 
  position: absolute; 
  bottom:0%; 
  left: 50%; 
  transform: translateX(-50%); 
  display: flex; 
  gap: 10%;
  width: 8%; 
}
.slide-arrow { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  cursor: pointer; 
  user-select: none; 
  transition: .3s; 
}
.slide-arrow img {
  width: 100%;
}
.slide-arrow:hover { 
  background: rgba(255,255,255,.3); 
}
/* Slider ends */

.register {
  z-index: 1001;
  position: relative;
  border-top: 1.5px solid black;
}
.register .blue-bg, .register .yellow-bg {
  padding-block: 5%;
  opacity: 1;
  border-bottom: 0;
  border-left: 0;
  text-align: left;
}
.register .yellow-bg {
  padding-inline: 5%;
  width: 50%;
}
.register .blue-bg {
	border-right: 1.5px solid black;
  padding-inline: 10%;
  padding-block: 7rem;
  width: 40%;
}
.register .blue-bg h1 {
  width: 70%;
  font-size: 3.6rem;
}

/* Active campaign form styling */

#_form_233_ {
  font-size: 14px;
  line-height: 1.6;
  font-family: arial, helvetica, sans-serif;
  margin: 0
}

._form_hide {
  display: none;
  visibility: hidden
}

._form_show {
  display: block;
  visibility: visible
}

#_form_233_._form-top {
  top: 0
}

#_form_233_._form-bottom {
  bottom: 0
}

#_form_233_._form-left {
  left: 0
}

#_form_233_._form-right {
  right: 0
}

#_form_233_ input[type="text"],
#_form_233_ input[type="tel"],
#_form_233_ input[type="date"],
#_form_233_ textarea {
  padding: 6px;
  height: auto;
  border: #979797 1px solid;
  border-radius: 4px;
  color: #000 !important;
  font-size: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

#_form_233_ textarea {
  resize: none
}

#_form_233_ ._submit {
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 14px;
  color: #282828;
  background-color: rgba(161, 199, 204, 0.75);
}

#_form_233_ ._submit:disabled {
  cursor: not-allowed;
  opacity: 0.4
}

#_form_233_ ._submit.processing {
  position: relative
}

#_form_233_ ._submit.processing::before {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(#E8C492, #E8C492), conic-gradient(#E8C492, #030303);
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: 1200ms ease 0s infinite normal none running _spin
}

#_form_233_ ._submit.processing::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

@keyframes _spin {
  0% {
    transform: translate(-50%, -50%) rotate(90deg)
  }

  100% {
    transform: translate(-50%, -50%) rotate(450deg)
  }
}

#_form_233_ ._close-icon {
  cursor: pointer;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
  background-repeat: no-repeat;
  background-size: 14.2px 14.2px;
  position: absolute;
  display: block;
  top: 11px;
  right: 9px;
  overflow: hidden;
  width: 16.2px;
  height: 16.2px
}

#_form_233_ ._close-icon:before {
  position: relative
}

#_form_233_ ._form-body {
  margin-bottom: 30px
}

#_form_233_ ._form-image-left {
  width: 150px;
  float: left
}

#_form_233_ ._form-content-right {
  margin-left: 164px
}

#_form_233_ ._form-branding {
  color: #fff;
  font-size: 10px;
  clear: both;
  text-align: left;
  margin-top: 30px;
  font-weight: 100
}

#_form_233_ ._form-branding ._logo {
  display: block;
  width: 130px;
  height: 14px;
  margin-top: 6px;
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
  background-size: 130px auto;
  background-repeat: no-repeat
}

#_form_233_ .form-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

#_form_233_ ._form-label,
#_form_233_ ._form_element ._form-label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block
}

#_form_233_._dark ._form-branding {
  color: #333
}

#_form_233_._dark ._form-branding ._logo {
  background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png")
}

#_form_233_ ._form_element {
  position: relative;
  margin-bottom: 10px;
  font-size: 0;
  max-width: 100%
}

#_form_233_ ._form_element * {
  font-size: 1.1rem;
  font-family: mont-light;
  color: #282828;

}

#_form_233_ ._form_element._clear {
  clear: both;
  width: 100%;
  float: none
}

#_form_233_ ._form_element._clear:after {
  clear: left
}

#_form_233_ ._form_element input[type="text"],
#_form_233_ ._form_element input[type="date"],
#_form_233_ ._form_element select,
#_form_233_ ._form_element textarea:not(.g-recaptcha-response) {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  padding: 10px 12px;
}

#_form_233_ ._field-wrapper {
  position: relative
}

#_form_233_ ._inline-style {
  float: left
}

#_form_233_ ._inline-style input[type="text"] {
  width: 13rem;
}

#_form_233_ ._inline-style:not(._clear) {
  margin-right: 20px
}

#_form_233_ ._form_element img._form-image {
  max-width: 100%
}

#_form_233_ ._form_element ._form-fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0
}

#_form_233_ ._clear-element {
  clear: left
}

#_form_233_ ._full_width {
  width: 100%
}

#_form_233_ ._form_full_field {
  display: block;
  width: 100%;
  margin-bottom: 10px
}

#_form_233_ input[type="text"]._has_error,
#_form_233_ textarea._has_error {
  border: #F37C7B 1px solid
}

#_form_233_ input[type="checkbox"]._has_error {
  outline: #F37C7B 1px solid
}

#_form_233_ ._show_be_error {
  float: left
}

#_form_233_ ._error {
  display: block;
  position: absolute;
  font-size: 14px;
  z-index: 10000001
}

#_form_233_ ._error._above {
  padding-bottom: 4px;
  bottom: 39px;
  right: 0
}

#_form_233_ ._error._below {
  padding-top: 8px;
  top: 100%;
  right: 0
}

#_form_233_ ._error._above ._error-arrow {
  bottom: -4px;
  right: 15px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #FFDDDD
}

#_form_233_ ._error._below ._error-arrow {
  top: 0;
  right: 15px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFDDDD
}

#_form_233_ ._error-inner {
  padding: 12px 12px 12px 36px;
  background-color: #FFDDDD;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 3V9H7V3H9ZM9 13V11H7V13H9Z' fill='%23CA0000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px center;
  font-size: 14px;
  font-family: arial, sans-serif;
  font-weight: 600;
  line-height: 16px;
  color: #000;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(31, 33, 41, 0.298295)
}

@media only screen and (max-width:319px) {
  #_form_233_ ._error-inner {
    padding: 7px 7px 7px 25px;
    font-size: 12px;
    line-height: 12px;
    background-position: 4px center;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }
}

#_form_233_ ._error-inner._form_error {
  margin-bottom: 5px;
  text-align: left
}

#_form_233_ ._button-wrapper ._error-inner._form_error {
  position: static
}

#_form_233_ ._error-inner._no_arrow {
  margin-bottom: 10px
}

#_form_233_ ._error-arrow {
  position: absolute;
  width: 0;
  height: 0
}

#_form_233_ ._error-html {
  margin-bottom: 10px
}

.pika-single {
  z-index: 10000001 !important
}

#_form_233_ input[type="text"].datetime_date {
  width: 69%;
  display: inline
}

#_form_233_ select.datetime_time {
  width: 29%;
  display: inline;
  height: 32px
}

#_form_233_ input[type="date"].datetime_date {
  width: 69%;
  display: inline-flex
}

#_form_233_ input[type="time"].datetime_time {
  width: 29%;
  display: inline-flex
}

@media (min-width:320px) and (max-width:667px) {
  ::-webkit-scrollbar {
    display: none
  }

  #_form_233_ {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box
  }

  #_form_233_ * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em
  }

  #_form_233_ ._form-content {
    margin: 0;
    width: 100%
  }

  #_form_233_ ._form-inner {
    display: block;
    min-width: 100%
  }

  #_form_233_ ._form-title,
  #_form_233_ ._inline-style {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0
  }

  #_form_233_ ._form-title {
    font-size: 1.2em
  }

  #_form_233_ ._form_element {
    margin: 0 0 20px;
    padding: 0;
    width: 100%
  }

  #_form_233_ ._form-element,
  #_form_233_ ._inline-style,
  #_form_233_ input[type="text"],
  #_form_233_ label,
  #_form_233_ p,
  #_form_233_ textarea:not(.g-recaptcha-response) {
    float: none;
    display: block;
    width: 100%
  }

  #_form_233_ ._row._checkbox-radio label {
    display: inline
  }

  #_form_233_ ._row,
  #_form_233_ p,
  #_form_233_ label {
    margin-bottom: 0.7em;
    width: 100%
  }

  #_form_233_ ._row input[type="checkbox"],
  #_form_233_ ._row input[type="radio"] {
    margin: 0 !important;
    vertical-align: middle !important
  }

  #_form_233_ ._row input[type="checkbox"]+span label {
    display: inline
  }

  #_form_233_ ._row span label {
    margin: 0 !important;
    width: initial !important;
    vertical-align: middle !important
  }

  #_form_233_ ._form-image {
    max-width: 100%;
    height: auto !important
  }

  #_form_233_ input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.3em;
    -webkit-appearance: none
  }

  #_form_233_ input[type="radio"],
  #_form_233_ input[type="checkbox"] {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: baseline
  }

  #_form_233_ button[type="submit"] {
    padding: 20px;
    font-size: 1.5em
  }

  #_form_233_ ._inline-style {
    margin: 20px 0 0 !important
  }

  #_form_233_ ._inline-style input[type="text"] {
    width: 100%
  }
}

#_form_233_ .sms_consent_checkbox {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px 0
}

#_form_233_ .sms_consent_checkbox input[type="checkbox"] {
  float: left;
  margin: 5px 10px 10px 0
}

#_form_233_ .sms_consent_checkbox .sms_consent_message {
  display: inline;
  float: left;
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #7D8799
}

#_form_233_ .sms_consent_checkbox .sms_consent_message.sms_consent_mini {
  width: 90%
}

#_form_233_ .sms_consent_checkbox ._error._above {
  right: auto;
  bottom: 0
}

#_form_233_ .sms_consent_checkbox ._error._above ._error-arrow {
  right: auto;
  left: 5px
}

@media (min-width:320px) and (max-width:667px) {
  #_form_233_ .sms_consent_checkbox ._error._above {
    top: -30px;
    left: 0;
    bottom: auto
  }
}

#_form_233_ .field-required {
  color: #FF0000
}

#_form_233_ {
  position: relative;
  text-align: left;
  margin: 25px auto 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: transparent; !important;
  border: 0;
  max-width: 500px;
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  color: #282828;
}

#_form_233_ ._show_be_error {
  min-width: 100%
}

#_form_233_._inline-form,
#_form_233_._inline-form ._form-content {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400
}

#_form_233_._inline-form ._row span:not(.field-required),
#_form_233_._inline-form ._row label {
  font-size: 1.1rem;
  color: black !important
}

#_form_233__inlineform input[type="text"],
#_form_233__inlineform input[type="date"],
#_form_233__inlineform input[type="tel"],
#_form_233__inlineform select,
#_form_233__inlineform textarea:not(.g-recaptcha-response) {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  font-color: #000000;
  line-height: 1.6em
}

#_form_233_._inline-form ._html-code *:not(h1, h2, h3, h4, h5, h6),
#_form_233_._inline-form .sms_consent_message,
#_form_233_._inline-form ._form-thank-you {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  color: black !important
}

#_form_233_._inline-form ._form-label,
#_form_233_._inline-form ._form-emailidentifier,
#_form_233_._inline-form ._form-checkbox-option-label {
  font-family: "mont-med";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6em;
  color: black !important
}

#_form_233_._inline-form ._submit {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 400
}

#_form_233_._inline-form ._html-code h1,
#_form_233_._inline-form ._html-code h2,
#_form_233_._inline-form ._html-code h3,
#_form_233_._inline-form ._html-code h4,
#_form_233_._inline-form ._html-code h5,
#_form_233_._inline-form ._html-code h6,
#_form_233_._inline-form ._form-title {
  font-family: Arial;
  font-size: 22px;
  line-height: normal;
  font-weight: 400;
  color: black;
  margin-bottom: 0;
  display: block
}

#_form_233_._inline-form ._form-branding {
  font-family: "IBM Plex Sans", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  text-decoration: none
}

#_form_233_:before,
#_form_233_:after {
  content: " ";
  display: table
}

#_form_233_:after {
  clear: both
}

#_form_233_._inline-style {
  width: auto;
  display: inline-block
}

#_form_233_._inline-style input[type="text"],
#_form_233_._inline-style input[type="date"] {
  padding: 10px 12px
}

#_form_233_._inline-style button._inline-style {
  position: relative;
  top: 27px
}

#_form_233_._inline-style p {
  margin: 0
}

#_form_233_._inline-style ._button-wrapper {
  position: relative;
  margin: 16px 12.5px 0 -7.5rem;
}

#_form_233_ ._form-thank-you {
  position: relative;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px
}

#_form_233_ ._form-pc-confirmation ._submit {
  margin-top: 16px
}

@media (min-width:320px) and (max-width:667px) {
  #_form_233_._inline-form._inline-style ._inline-style._button-wrapper {
    margin-top: 20px !important;
    margin-left: 0 !important
  }
}

#_form_233_ .iti {
  width: 100%
}

#_form_233_ .iti.iti--allow-dropdown.iti--separate-dial-code {
  width: 100%
}

#_form_233_ .iti input {
  width: 100%;
  border: #979797 1px solid;
  border-radius: 4px
}

#_form_233_ .iti--separate-dial-code .iti__selected-flag {
  background-color: #FFFFFF;
  border-radius: 4px
}

#_form_233_ .iti--separate-dial-code .iti__selected-flag:hover {
  background-color: rgba(0, 0, 0, 0.05)
}

#_form_233_ .iti__country-list {
  border-radius: 4px;
  margin-top: 4px;
  min-width: 460px
}

#_form_233_ .iti__country-list--dropup {
  margin-bottom: 4px
}

#_form_233_ .phone-error-hidden {
  display: none
}

#_form_233_ .phone-error {
  color: #E40E49
}

#_form_233_ .phone-input-error {
  border: 1px solid #E40E49 !important
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field fieldset {
  margin: 0;
  margin-bottom: 1.1428571429em;
  border: none;
  padding: 0
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field fieldset:last-child {
  margin-bottom: 0
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field legend {
  margin-bottom: 1.1428571429em
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 0.8571428571em
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field label:last-child {
  margin-bottom: 0
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field input {
  margin: 0;
  margin-right: 8px
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label {
  display: block;
  font-weight: 400;
  margin-top: -4px
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label-with-description {
  display: block;
  font-weight: 700;
  margin-top: -4px
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-description {
  margin: 0;
  font-size: 0.8571428571em
}

#_form_233_._inline-form ._form-content ._form-list-subscriptions-field ._form-subscriptions-unsubscribe-all-description {
  line-height: normal;
  margin-top: -2px
}

/* Form styling ends */


@media only screen and (max-width: 768px) {

  .banner h1 {
    margin-block: 0.5rem 2rem;
    font-size: 3.5rem;
  }
  .clarity-exc h1, .yellow-bg h1, .va h1, .blue-bg h1, .speaker h1, .tradition h1, .moments h1, .register .blue-bg h1
 {
    margin-block: 0.5rem 2rem;
    font-size: 2.3rem;
  }

  p {
    line-height: 1.4;
  }

  .banner {
    background-image: url('/images/new/yajna/banner-mob.jpg');
    aspect-ratio: 291 / 473;
    padding-block: 20% 5%;
    background-size: 100% 100%;
  }
  .banner .w-50 {
    bottom: 5%;
    left: 6%;
  }
  .banner p {
    margin-block-start: 1.2rem;
    font-size: 1.2rem;
  }
  .banner h4, .banner h2, .speaker h2 {
    font-size: 1rem;
  }
  .banner .btn-yellow {
    padding-inline: 6%;
    top: 87%;
    right: 5%;
  }

  .yellow-bg {
    padding-block: 14% 17%; 
  }
  .maps-arrow {
    width: 4%;
    margin-inline-start: -7%;
  }
  .yellow-bg .align {
    width: 100%;
  }
  .yellow-bg .bold {
    font-size: 1.3rem;
  }

  .clarity-exc {
    padding-block: 15%;
    padding-inline: 6%;
  }
  .clarity-exc p {
    width: 100%;
  }
  .clarity-exc img, .speaker img, .tradition img {
    padding-block-end: 2.3rem;
  }

  .va {
    background-image: none;
    background-color: rgba(161, 199, 204, 0.75);
    border-bottom: 0;
    border-top: 0;
  }
  .va-para {
    width: 83%;
    position: relative;
    margin-block-start: -13%;
    padding-block: 15%;
    padding-inline: 6%;
  }
  .va img {
    width: 100%;
  }

  .blue-bg {
    padding-inline: 6%;
    padding-block: 15%;
    
  }
  .blue-bg p {
    width: 100%;
  }

  .quote {
    text-align: center;
    margin-inline: 0%;
    padding-inline: 0%;
  }

  .speaker {
    background-size: 70% auto;
    background-position: 35% 5%;
    padding-block: 15%;
    padding-inline: 6%;
  }
  .speaker h1, .speaker h2 {
    padding-inline: 0%;
  }
  .speaker .w-50 {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker p {
    width: 100%;
    padding-inline: 0%;
  }
  .speaker h3 {
    font-size: 2rem;
  }

  .tradition {
    padding-inline: 6%;
    padding-block: 15%;
  }
  .tradition .w-40, .tradition .w-55 {
    width: 100%;
  }
  .tradition p {
    width: 100%;
  }

  .moments {
    padding-block: 12% 15%;
  }
  .slider {
    min-height: 17rem;
  }
  .slides { 
    gap: 2%; 
  }
  .slide { 
    flex: 0 0 100%; 
  }
  .controls {
    width: 20%;
  }

  .register .blue-bg h1 {
    width: 70%;
    margin-block: 0.5rem;
  }
  .register .blue-bg, .register .yellow-bg {
    width: 88%;
    padding-block: 10%;
    border-top: 0;
    border-left: 0;
    padding-inline: 6%;
    text-align: left;
  }
  
}